extend layout

block content
  div(class="allgenres")
    h2 #{title}
    a(href='/movies/genres/Action') Action
    br
    a(href='/movies/genres/Adventure') Adventure
    br
    a(href='/movies/genres/Comedy') Comedy
    br
    a(href='/movies/genres/Documentary') Documentary
    br
    a(href='/movies/genres/Drama') Drama
    br
    a(href='/movies/genres/Family') Family
    br
    a(href='/movies/genres/Horror') Horror
    br
    a(href='/movies/genres/Musical') Musical
    br
    a(href='/movies/genres/SciFi%20and%20Fantasy') SciFi and Fantasy
    br
    a(href='/movies/genres/Sports') Sports