extends layout

block content
  div.setform
    h2= title
    form(action='/movies/recommendations', method='post', id="addMovies")
      div.movietitle
        | 1. 
        input(name='title', type="text")
      div.moviegenre
        | Genre: 
        select(name='genre')
          option(value='Action') Action
          option(value='Adventure') Adventure
          option(value='Comedy') Comedy
          option(value='Documentary') Documentary
          option(value='Drama') Drama
          option(value='Family') Family
          option(value='Horror') Horror
          option(value='Musical') Musical
          option(value='SciFi and Fantasy') SciFi and Fantasy
          option(value='Sports') Sports
      br 
      div.movietitle
        | 2. 
        input(name='title', type="text")
      div.moviegenre
        | Genre: 
        select(name='genre')
          option(value='Action') Action
          option(value='Adventure') Adventure
          option(value='Comedy') Comedy
          option(value='Documentary') Documentary
          option(value='Drama') Drama
          option(value='Family') Family
          option(value='Horror') Horror
          option(value='Musical') Musical
          option(value='SciFi and Fantasy') SciFi and Fantasy
          option(value='Sports') Sports
      br
      div.movietitle
        | 3. 
        input(name='title', type="text")
      div.moviegenre
        | Genre: 
        select(name='genre')
          option(value='Action') Action
          option(value='Adventure') Adventure
          option(value='Comedy') Comedy
          option(value='Documentary') Documentary
          option(value='Drama') Drama
          option(value='Family') Family
          option(value='Horror') Horror
          option(value='Musical') Musical
          option(value='SciFi and Fantasy') SciFi and Fantasy
          option(value='Sports') Sports
      br
      br
      button(type='submit', class="btn btn-primary")
        |Get my recommendations